* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* 1rem */
    font-size: 16px;
}

label {
    display: block;
}

input, textarea, button {
    font-family: inherit;
    font-size: inherit;
    padding: 0.5rem;
    margin-top: .5rem;
}

input, textarea {
    width: 100%;
}

textarea {
    height: 6rem;
}

button {
    background-color: steelblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button[type="reset"] {
    background-color: orangered;
    margin-left: 5rem;
}

button:hover {
    background-color: rgb(121, 172, 214);
}

button[type="reset"]:hover {
    background-color: rgb(255, 119, 70);
}

form p:last-child {
    text-align: center;
}

form {
    position: relative;
    width: 100%;
    max-width: 450px;
    margin: auto;
}

div.contatos {
    display: table;
    margin: auto;
}

table.contatos {
    margin: auto;
    font-size: small;
}

table.contatos, table.contatos th, table.contatos td {
    padding: .2rem .3rem;
}

table.contatos th {
    background-color: rgb(73, 73, 73);
    color: white;
}

table.contatos tr:nth-child(even) {
    background-color: rgb(224, 224, 224);
}

table.contatos tr:nth-child(odd) {
    background-color: rgb(192, 192, 192);
}

.opcoes button {
    text-align: center;
    font-size: small;
    padding: .2rem;
    border: none;
    margin: 0;
    display: inline;
}

table.contatos tr td:first-child {
    text-align: right;
}